.dashboard .row .col {
  padding-left: 0;
}

input[type=text]:not(.browser-default):focus:not([readnly]),
input[type=email]:not(.browser-default):focus:not([readnly]),
input[type=password]:not(.browser-default):focus:not([readnly]),
textarea.materialize-textarea:focus:not([readoly]) {
  border-color: orange;
  box-shadow: none;
}